<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="icon">
    <title>City not found</title>
</head>
<body>
    <h1>City not found</h1>
    <p> Sorry, city was not found. Go back to the city search page and try another city.</p>
    <p><a href="/" alt="City Search">City Search</a></p>
    <img src="/static/umbrellas.jpg" alt="Rain" width="640" height="480">
    <footer>
        Data provided by <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a>
    </footer>
</body>
</html>