<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="icon">
    <title>Will it rain in {{ city }}?</title>
</head>
<body>
    <h1>Will it rain in {{ city }}?</h1>
    {% if will_rain %}
    <p>It will rain today in {{ city }}. Take your umbrella with you!</p>
    <img src="/static/rain.jpg" alt="Rain, photo credit Fabiano Rodrigues" width="640" height="480">
    <p><a href="/" alt="City Search">Back to City Search</a></p>
    {% else %}
    <p>It will not rain today in {{ city }}. Enjoy your day!</p>
    <img src="/static/sunshine.jpg" alt="Sunshine, photo credit Khanh Le" width="640" height="480">
    <p><a href="/" alt="City Search">Back to City Search</a></p>
    {% endif %}
    <footer>
        Data provided by <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a>
    </footer>
</body>

</html>