body {
    background: linear-gradient(.25turn, white, 10%, lightblue);
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    color: black;
  }

h1 {
    color: black;
    text-align: center;
    font-size: 32px;
    font-family: Arial;
    margin-bottom: 50px;
    margin-top: 100px;
  }

p {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    margin-top: 20px;
    color: black;

  }

footer {
    text-align: center;
    padding: 30px;
    color: black;
    font-family: Arial;
    font-size: 18px;
  }