<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="/static/favicon.ico" rel="icon">
    <title>Will it rain today?</title>
</head>
<body>
    <h1>Will it rain today?</h1>
    <img src="/static/umbrellas.jpg" alt="Umbrellas, photo credit Engin Akyurt" width="320" height="280">
    </br>
    </br>
    <form method="POST">
        <label for="city">Enter a city name</label>
        <input type="text" id="city" name="city" required>
        <button type="submit">Search</button>
    </form>
    <footer>
        Data provided by <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a>
    </footer>
</body>
</html>
